{% extends 'faculty/faculty_basic.html' %}
{% load static %}

{% block title %}
Enter Marks Page
{% endblock title %}

{% block body %}

    <div class="container">
        <h1 class="text-center shadow" style="margin: 20px;background-color: #fefefe;">IAMARKS</h1>
        <div class="card text-left" style="background-color: rgb(145,134,134);">
            <div class="card-body shadow">
                <form action="entermarks" method="post">{% csrf_token %}
                    <div class="form-group"><label for="branch"><strong>SELECT BRANCH:</strong></label>
                        <select class="custom-select" required="" name="branch" id="branch">
                        {% for branch in allBranch  %}
                            <option value="{{branch.branch_name}}">{{branch.branch_name}}</option>
                        {% endfor %}
                             {% comment %} <option value="MECH">MECH</option>
                            <option value="CIVIL">CIVIL</option> {% endcomment %}
                        </select></div>
                    <div
                        class="form-group"><label for="semester"><strong>SELECT SEMESTER:</strong></label>
                        <select class="custom-select" required="" name="sem" id="sem">
                        {% for sem in allSem  %}
                            <option value="{{sem.sem}}">{{sem.sem}}</option>
                        {% endfor %}
                            {% comment %} <option value="13">SECOND</option>
                            <option value="14">THIRD</option>
                            <option value="15">FORTH</option>
                            <option value="16">FIFTH</option>
                            <option value="17">SIXTH</option>
                            <option value="">SEVENTH</option>
                            <option value="">EIGTH</option> {% endcomment %}
                        </select></div>
            <div
                class="form-group"><label for="usn"><strong>STUDENT</strong>&nbsp;<strong>USN:</strong></label>
                <span style="color: rgb(255,2,2);"><strong>&nbsp; CAPITAL LETTERS ONLY*</strong></span>
                <input class="form-control" type="text" name="usn" id="usn" placeholder="Eg:1BO17CS054"></div>
        <div
            class="form-group"><label for="internal"><strong>SELECT</strong>&nbsp;<strong>INTERNAL:</strong><br></label>
            <select class="form-control" name="internal" id="internal">
                <option value="1" selected="">INTERNAL_1</option>
                <option value="2">INTERNAL_2</option>
                <option value="3">INTERNAL_3</option></select></div>
    <hr>
    <h5><strong>Enter marks of proper subjects:</strong></h5>
    <hr>
    <div class="form-row">
        <div class="col-6">
            <div class="form-group">
                 <label for="sub_1">Enter Cryptography:</label>
                {% comment %}<select class="custom-select chosen" required="" style="color: #232323;" name="sub_1">
                    <option value="17" selected="">English</option>
                    <option value="16" selected="">Maths</option>
                    <option value="16" selected="">Science</option></select> {% endcomment %}
                <input type="number" id="sub_1" name="sub_1" placeholder="Marks"></input>   
            </div>
        </div>
        <div class="col-6">
            <div class="form-group"><label for="sub_2">Enter Computer Graphics:</label>
                {% comment %} <select class="custom-select chosen" required="" style="color: #232323;" name="sub_2">
                    <option value="17" selected="">English</option>
                    <option value="16" selected="">Maths</option>
                    <option value="16" selected="">Science</option>
                </select> {% endcomment %}
                <input type="number" id="sub_2" name="sub_2" placeholder="Marks"></input>  
            </div>
        </div>
        <div class="col-6">
            <div class="form-group"><label for="sub_3">Enter System software:</label>
                {% comment %} <select class="custom-select chosen" required="" style="color: #232323;" name="sub_3">
                <option value="17" selected="">English</option>
                <option value="16" selected="">Maths</option>
                <option value="16" selected="">Science</option></select> {% endcomment %}
                <input type="number" id="sub_3" name="sub_3" placeholder="Marks"></input>  
            </div>
        </div>
        <div class="col-6">
            <div class="form-group"><label for="sub_4">Enter Operating System:</label>
                {% comment %} <select class="custom-select chosen" required="" style="color: #232323;" name="sub_4">
                    <option value="17" selected="">English</option>
                    <option value="16" selected="">Maths</option>
                    <option value="16" selected="">Science</option>
                </select> {% endcomment %}
                <input type="number" id="sub_4" name="sub_4" placeholder="Marks"></input>  
            </div>
        </div>
        <div class="col-6">
            <div class="form-group"><label for="sub_5">Enter Python Programming:</label> 
                {% comment %} <select class="custom-select chosen" required="" style="color: #232323;" name="sub_5">
                    <option value="17" selected="">English</option>
                    <option value="16" selected="">Maths</option>
                    <option value="16" selected="">Science</option>
                </select> {% endcomment %}
                <input type="number" id="sub_5" name="sub_5" placeholder="Marks"></input>  
            </div>
        </div>
        <div class="col-6">
            <div class="form-group"><label for="sub_6">Enter Operation Research:</label>
                {% comment %} <select class="custom-select chosen" required="" style="color: #232323;" name="sub_6">
                    <option value="17" selected="">English</option>
                    <option value="16" selected="">Maths</option>
                    <option value="16" selected="">Science</option>
                </select> {% endcomment %}
                <input type="number" id="sub_6" name="sub_6" placeholder="Marks"></input>  
            </div>
        </div>
        <div class="col-6">
            <div class="form-group"><label for="sub_7">Enter CG Lab:</label>
                {% comment %} <select class="custom-select chosen" required="" style="color: #232323;" name="sub_7">
                    <option value="17" selected="">English</option>
                    <option value="16" selected="">Maths</option>
                    <option value="16" selected="">Science</option>
                </select> {% endcomment %}
                <input type="number" id="sub_7" name="sub_7" placeholder="Marks"></input>  
            </div>
        </div>
        <div class="col-6">
            <div class="form-group"><label for="sub_8">Enter SS & CD Lab:</label>
                {% comment %} <select class="custom-select chosen" required="" style="color: #232323;" name="sub_8">
                    <option value="17" selected="">English</option>
                    <option value="16" selected="">Maths</option>
                    <option value="16" selected="">Science</option>
                </select>{% endcomment %}
                <input type="number" id="sub_8" name="sub_8" placeholder="Marks"></input>  
            </div>
        </div>
        <div class="col">
            <div class="form-group"><button class="btn btn-dark btn-block" type="submit">Submit Marks</button></div>
        </div>
    </div>
    </form>
    </div>
    </div>
    </div>

    {% endblock body %}
 