{% extends 'faculty/faculty_basic.html' %}
{% load static %}

{% block title %}
Faculty_view_marks
{% endblock title %}

{% block body %}

    <div class="container">
        <h1 class="text-center" style="margin: 20px;"><strong>View Marks</strong></h1>
        <h4 class="text-center" style="margin: 20px;"><strong>Select SEMESTER</strong></h4>
        <div class="row">
            <div class="col-6">
                <div class="card text-center" style="margin: 20px;">
                    <div class="card-body"><a class="btn btn-dark" role="button" style="color: rgb(248,250,251);" href="facultyview">SEMESTER I</a></div>
                </div>
            </div>
            <div class="col-6">
                <div class="card text-center" style="margin: 20px;">
                    <div class="card-body"><a class="btn btn-dark" role="button" style="color: rgb(248,250,251);" href="facultyview">SEMESTER II</a></div>
                </div>
            </div>
            <div class="col-6">
                <div class="card text-center" style="margin: 20px;">
                    <div class="card-body"><a class="btn btn-dark" role="button" style="color: rgb(248,250,251);" href="facultyview">SEMESTER III</a></div>
                </div>
            </div>
            <div class="col-6">
                <div class="card text-center" style="margin: 20px;">
                    <div class="card-body"><a class="btn btn-dark" role="button" style="color: rgb(248,250,251);" href="facultyview">SEMESTER IV</a></div>
                </div>
            </div>
            <div class="col-6">
                <div class="card text-center" style="margin: 20px;">
                    <div class="card-body"><a class="btn btn-dark" role="button" style="color: rgb(248,250,251);" href="facultyview">SEMESTER V</a></div>
                </div>
            </div>
            <div class="col-6">
                <div class="card text-center" style="margin: 20px;">
                    <div class="card-body"><a class="btn btn-dark" role="button" style="color: rgb(248,250,251);" href="facultyview">SEMESTER VI</a></div>
                </div>
            </div>
            <div class="col-6">
                <div class="card text-center" style="margin: 20px;">
                    <div class="card-body"><a class="btn btn-dark" role="button" style="color: rgb(248,250,251);" href="facultyview">SEMESTER VII</a></div>
                </div>
            </div>
            <div class="col-6">
                <div class="card text-center" style="margin: 20px;">
                    <div class="card-body"><a class="btn btn-dark" role="button" style="color: rgb(248,250,251);" href="facultyview">SEMESTER VIII</a></div>
                </div>
            </div>
        </div>
    </div>

    {% endblock body %}

