{% extends 'faculty/faculty_basic.html' %}
{% load static %}

{% block title %}
Faculty_view_marks
{% endblock title %}

{% block body %}
<div class="container">
        <h1 class="text-center" style="margin: 20px;"><strong>View Marks</strong></h1>
        <h4 class="text-center" style="margin: 20px;"><strong>Select Branch</strong></h4>
        <div class="row">
            <div class="col-6">
                <div class="card text-center" style="margin: 20px;">
                    <div class="card-body"><a class="btn btn-dark" role="button" style="color: rgb(248,250,251);" href="view2">COMPUTER SCIENCE AND ENGINEERING</a></div>
                </div>
            </div>
            <div class="col-6">
                <div class="card text-center" style="margin: 20px;">
                    <div class="card-body"><a class="btn btn-dark" role="button" style="color: rgb(248,250,251);" href="view2">MECHANICAL ENGINEERING</a></div>
                </div>
            </div>
            <div class="col-6">
                <div class="card text-center" style="margin: 20px;">
                    <div class="card-body"><a class="btn btn-dark" role="button" style="color: rgb(248,250,251);" href="view2">CIVIL ENGINEERING</a></div>
                </div>
            </div>
            <div class="col-6">
                <div class="card text-center" style="margin: 20px;">
                    <div class="card-body"><a class="btn btn-dark" role="button" style="color: rgb(248,250,251);" href="view2">ELECTRICAL ENGINEERING</a></div>
                </div>
            </div>
            <div class="col-6">
                <div class="card text-center" style="margin: 20px;">
                    <div class="card-body"><a class="btn btn-dark" role="button" style="color: rgb(248,250,251);" href="view2">INFORMATION SCIENCE ENGINEERING</a></div>
                </div>
            </div>
            {% comment %} <div class="col-6">
                <div class="card text-center" style="margin: 20px;">
                    <div class="card-body"><a class="btn btn-dark" role="button" style="color: rgb(248,250,251);" href="view2">ELECTRICAL ENGINEERING</a></div>
                </div>
            </div> {% endcomment %}
            {% comment %} <div class="col-6">
                <div class="card text-center" style="margin: 20px;">
                    <div class="card-body"><a class="btn btn-dark" role="button" style="color: rgb(248,250,251);" href="view2">ELECTRICAL ENGINEERING</a></div>
                </div>
            </div>
            <div class="col-6">
                <div class="card text-center" style="margin: 20px;">
                    <div class="card-body"><a class="btn btn-dark" role="button" style="color: rgb(248,250,251);" href="view2">ELECTRICAL ENGINEERING</a></div>
                </div> {% endcomment %}
            </div>
        </div>
    </div>

    {% endblock body %}
