{% extends 'faculty/faculty_basic.html' %}
{% load static %}
 
{% block title %}
Faculty_view_marks
{% endblock title %}

{% block body %}

{% for post in allPosts %}
    <div class="container">
        <h1 class="text-center" style="margin: 20px;">View Marks</h1>
        <div class="card shadow">
            <div class="card-body">
                <h3>{{post.usn}}</h3>
                <div class="table-responsive table-bordered text-center">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Subject Name</th>
                                <th>Marks Scored</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for sub in allSub %}
                            <tr>
                                <td>{{sub.sub1}}</td>
                                <td>{{post.sub1_marks}} / 30</td>
                            </tr>
                            <tr>
                                <td>{{sub.sub2}}</td>
                                <td>{{post.sub2_marks}} / 30</td>
                            </tr>
                            <tr>
                                <td>{{sub.sub3}}</td>
                                <td>{{post.sub3_marks}} / 30</td>
                            </tr>
                            <tr>
                                <td>{{sub.sub4}}</td>
                                <td>{{post.sub4_marks}} / 30</td>
                            </tr>
                            <tr>
                                <td>{{sub.sub5}}</td>
                                <td>{{post.sub5_marks}} / 30</td>
                            </tr>
                            <tr>
                                <td>{{sub.sub6}}</td>
                                <td>{{post.sub6_marks}}/ 30</td>
                            </tr>
                            <tr>
                                <td>{{sub.sub7}}</td>
                                <td>{{post.sub7_marks}}/ 30</td>
                            </tr>
                            <tr>
                                <td>{{sub.sub8}}</td>
                                <td>{{post.sub8_marks}}/ 30</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

    {% endblock body %}
   