{% extends 'student/stud_basic.html' %}
{% load static %}

{% block title %}
About Page
{% endblock title %}

{% block body %}
    <div class="container">
        <h1 class="text-center m-3">About Us</h1>
        <p><br><br>
        <strong>The Marks Storage System</strong>&nbsp; project will manage various students enrolled in the courses in different years, the subject offered during different semisters of the course,the marks obtained by the various students in various subjects in different semisters.<br>
        Overall,This project will greatly simplyfy and speed up the result preparation and management process,and also reduce the human effort.<br>
        This project has various facilities like facilities of user login,faculty login,and it also has facilities of admin login i.e the superuser through which the admin can monitor the whole system.<br><br>
        This project will be very usefull during this pandemic,as education process is going Online.
        <br><br></p>
        <img class="img" src="../static/images/logo.png" height="300px" width="400px">
    </div>



    {% endblock body%}